form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 600px;
}
form textarea {
    height: 100px;
}
.btn-form-add {
    background-color: rgb(50, 136, 172);
    color: aliceblue;
    cursor: pointer;
}
.btn-form-cancel{
    background-color: red;
    color: aliceblue;
    cursor: pointer;
}